:root{
    --branco-principal:#FFFFFF;
    --CINZA-SECUNDARIO:#C0C0C0;
    --BOTAO-AZUL:#167BF7;
    --COR-DE-FUNDO:#00030C;
    --BOTAO-AZUL-EFEITO:#3C92FA;
    --fonte-principal:'inter';
}
body{
  background-color: var(--COR-DE-FUNDO);
 color: var(--branco-principal);
 font-family: var(--fonte-principal);
 font-size: 16px;
 font-weight: 400;
}

* {

margin: 0;
padding: 0;

}

.principal {
    background-image: url(Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}